.container {
  display: flex;
}

img {
  width: 400px;
  height: 400px;
  margin-top: 18px;
}

.inputs {
  display: flex;
  align-items: center;
}

button {
  height: 20px;
  align-self: flex-end;
}

.no-border {
  border: 0;
}

.hidden {
  display: none;
}